<header>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/historico">Histórico de Compras</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>