{{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
{{/if}}

{{#if success}}
    <div class="alert alert-success">
        {{success}}
    </div>
{{/if}}

<h2>Login</h2>
<form action="/users/login" method="POST">
    <label for="email">E-mail:</label>
    <input type="email" name="email" required>
    
    <label for="password">Senha:</label>
    <input type="password" name="senha" required>

    <button type="submit">Entrar</button>

    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
</form>
